@{
    ViewData["Title"] = "Ödeme Başarısız";
}

<!DOCTYPE html>
<style>
</style>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="~/Uploads/favicon.ico" type="image/x-icon" />
    <title>KOZZMOS</title>

    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">


    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>

    <!-- Css Styles -->

    <link rel="stylesheet" href="~/payment/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/payment/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/payment/css/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="~/payment/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/payment/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/payment/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/payment/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/payment/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/payment/css/style.css" type="text/css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



    

</head>
<body>

        <section class="checkout-section spad">
            <div class="container">
                <div class="checkout-form">
                    <div class="checkout-content">
                        <a href="/Home/Index/">
                            <img src="~/home/img/cllogo2.png" />
                        </a>
                    </div>
                    <div class="alert alert-danger">
                            <strong>İşleminiz başarısız !</strong>
                    </div>
                </div>
            </div>
        </section>
    
  

</body>
</html>



<!-- Js Plugins -->
<script src="~/payment/js/jquery-3.3.1.min.js"></script>
<script src="~/payment/js/bootstrap.min.js"></script>
<script src="~/payment/js/jquery-ui.min.js"></script>
<script src="~/payment/js/jquery.countdown.min.js"></script>
<script src="~/payment/js/jquery.nice-select.min.js"></script>
<script src="~/payment/js/jquery.zoom.min.js"></script>
<script src="~/payment/js/jquery.dd.min.js"></script>
<script src="~/payment/js/jquery.slicknav.js"></script>
<script src="~/payment/js/owl.carousel.min.js"></script>
<script src="~/payment/js/main.js"></script>