
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OdemeBasarılı</title>
</head>
<body>
    <div> 
        başarılı
        <h4> @ViewBag["toplamfiyat"]</h4>
    </div>
</body>
</html>
